In [1]:
import wget
url='http://bit.ly/w-data'
saved='student_scores.csv'
wget.download(url, saved)

'student_scores.csv'

In [2]:
import pandas as pd
df=pd.read_csv('student_scores.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
import numpy as np
X=np.array(df['Hours']).reshape(-1, 1)
y=np.array(df['Scores'])

In [4]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X, y)

In [5]:
reg.predict(np.array([[9.25]]))

array([92.90985477])